body {
    background-image: url("../img/menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(134, 248, 248);
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

button {
    width: 250px;
    height: 73px;
    border: none;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: transparent;
    cursor: pointer;
}

#button1 {
    background-image: url("../img/luchaboton.png");
}

#button2 {
    background-image: url("../img/pokedexboton.png");
}

button {
    transition: all 0.3s ease;
}

#button1:hover {
    transform: rotate(360deg);
    background-color: #f0785a;
    /* Cambia el color de fondo al pasar el cursor */

}

#button2:hover {
    transform: rotate(-360deg);
    background-color: #43e1e6;
    /* Cambia el color de fondo al pasar el cursor */

}